body {
	background: #f2f0f0;
}
* { box-sizing: border-box;}
.fl { float: left;}
.fr { float: right;}
.topNav {
    background: #f5f5f5;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.common {
    width: 1200px;
    margin: 0 auto;
}
.shop {
	line-height: 36px;
	overflow: hidden;
}
.topLogin a {
	color: #b90000;
	font-weight: 700;
}
.topLogin span {
	color: #666;
}

.innerShop a:not(.hotLine) {
	color: #666;
}
.topNav small {
	color: #dfdfdf;
	padding: 0 10px;
}
.hotLine {
	color: #f00;
	font-weight: 700;
}

/*header*/
.header {
	background: #f2f0f0;
	height: 136px;
	padding-top: 36px;
}
.logo {
	width: 300px;
	height: 62px;
}
.search {
	position: relative;
	width: 648px;
	height: 40px;
	border: #b90000 2px solid;
	background: #fff;
	font-size: 16px;
	margin-bottom: 5px;
	overflow: hidden;
}
.key {
	border: 0;
	width: 100%;
	height: 36px;
	background-color: transparent;
	padding-left: 10px;
}
.btn-search {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	width: 80px;
	height: 100%;
	padding: 0 20px;
	background: #b90000;
	color: #fff;
	font-size: 18px;
}
.keyword a {
	color: #999;
}

/*nav*/
.nav {
	background: #b90000;
}
.navBox {
	position: relative;
}
.mainNav {
	line-height: 44px;
	padding-left: 230px;
	overflow: hidden;
}
.mainNav li {
	float: left;
}
.mainNav a {
	padding: 0 45px;
	color: #fff;
}
.category {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	background: #b90000;
	color: #fff;
}
.category dt {
	line-height: 44px;
	background: #9a0000;
	padding-left: 15px;
	font-size: 16px;
}
.category dd {
	height: 64px;
	line-height: 22px;
	padding-left: 15px;
	padding: 10px 15px;
	border-bottom: #d40000 1px solid;
	cursor: pointer;
}
.category dd + dd {
	border-top: #900 1px solid;
}
.category dd:last-child {
	/*border: none;*/
}
.category h3 {
	font-size: 16px;
	font-weight: normal;
}
.category h4 {
	position: relative;
	font-size: 14px;
	font-weight: normal;
}
.category h4 a {
	color: #c2c0c0;
}
.arrowRight {
	position: absolute;
	top: -10px;
	right: 0;
	font-family: SimSun;
	font-weight: 700;
	font-size: 12px;
}
.branch {
	position: absolute;
	top: 44px;
	left: 230px;
	border: #f4f4f4 1px solid;
	padding: 20px;
	width: 850px;
	height: 576px;
	background: #fff;
	color: #333;
	line-height: 28px;
	display: none;
}
.branch li {
	padding: 10px;
	border-bottom: #eee 1px solid;
}
.branch span {
	display: block;
	float: left;
	font-weight: 700;
	color: #333;
}
.branch p {
	padding-left: 60px;
}
.branch p a {
	color: #333;
	margin-right: 7px;
}
.branch a + a:before {
	content: "|";
	margin-right: 10px;
	color: #c7c7c7;
}
.category dd:hover {
	background: #fff;
}
.category dd:hover h3{
	font-weight: 700;
	color: #b90000;
}
.category dd:hover h4 a,
.category dd:hover .arrowRight,
.branch p a:hover {
	color: #9a0000;
}
.category dd:hover .branch {
	display: block;
}
