@charset "utf-8";
/*轮播*/
.wrapper {
	position: relative;
	margin-bottom: 46px;
	height: 576px;
	overflow: hidden;
	cursor: pointer;
}
.slide {
	position: relative;
	left: 0;
	width: 11520px;
	height: 100%;
}
.slide li {
	width: 1920px;
	height: 576px;
	float: left;
}
.slide img {
	display: block;
	width: 100%;
}
.pagination {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 0;
}
.pagination a {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 100%;
}
.pagination a + a { margin-left: 5px;}
.pagination a.active {
	width: 15px;
	background: #b90000;
	border-radius: 6px;
}
.arrow {
	position: absolute;
	top: calc(50% - 40px);
	left: 0;
	width: 100%;
	opacity: 0;
	transition: opacity .5s;
}
.wrapper:hover .arrow{ 
	opacity: 1;
}
.arrow a {
	display: block;
	position: relative;
	float: left;
	width: 40px;
	height: 80px;
	background: rgba(255, 255, 255, .2);
	transition: background-color .5s;
}
.arrow a.next {
	float: right;
}
.arrow a:before {
	position: absolute;
	top: 30px;
	left: 15px;
	display: block;
	width: 15px;
	height: 15px;
	content: "";
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
	transform: rotate(-45deg);
	transition: all .5s;
}
.arrow a.next:before {
	left: auto;
	right: 15px;
	transform: rotate(135deg);
}
.arrow a:hover { 
	background: rgba(0, 0, 0, .5);
}

/*newGroup*/
.newGroup ul {
	display: -webkit-flex;
    display: flex;
    border-bottom: #bfbfbf 1px solid;
}
.newGroup li {
	position: relative;
	flex: 1;
	text-align: center;
	padding-bottom: 10px;
}
.newGroup li:before {
	position: absolute;
	bottom: -1px;
	left: 50%;
	width: 0;
	height: 2px;
	content: "";
	background: #b90000;
	transition: all .3s;
}
.newGroup .active:before {
	left: 0;
	width: 100%;
}
.newGroup .active:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -6px;
	content: "";
	border: transparent 6px solid;
	border-bottom-color: #b90000;
}
